.link {

    font-style: italic;
    font-weight: bold;
}

.aqua-bg {

    background-color: aqua;
}

h2 {
 
    font-weight: bolder;
    font-size: 32px

}

button {
    font-weight: bolder;
    background-color: blue;
    color: darkgrey;
}

.bold   {
    font-weight: bolder;
}

.flex {
    display:inline-flex;


}