.link {

    font-style: italic;
    font-weight: bold;
}

.aqua-bg {

    background-color: aqua;
}

h2 {
 
    font-weight: bolder;
    font-size: 32px;
    padding-left: 20px ;

}

button {
    font-weight: bolder;
    color: black;
    margin-left: auto;
    margin-right: 0;
    display:block;
    
}

.bold   {
    font-weight: bolder;
}


.container {
    max-width: 70%;
    margin-right: auto;
    margin-left: 40px ;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-container    {
    width: auto;
    padding: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    border: 0px solid black;
    flex: 1;
    gap: 1rem;
}

.description-container {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0px solid black; 
}
.top-container > * {
    border: 0px solid black;
}

.top-container p {
    border: 0px solid black;
}

.headline-description-container p {
    margin: 20px 0 0 0;
    max-width: 550px;
}


.columns {
    gap: 2rem;
    display: flex;
    border: 0px solid black;
}

.columns > * {
    flex: 1; 
}


.card {
    background-color: lightblue;
    padding: 1rem;
    border: 1px dotted black;
}

/* the flex parts are redundant and just in there until I have updated all sub-pages, newer version with columns and cards */
.flex {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
}

.flex-item {
    flex: 1 1 auto;
    max-width: 200px;
    padding: 10px;
}

.flex-item {
    text-align: center;
    min-width: 150px;
}

.flex-item + .flex-item {
    border-left: 1px solid black;
}
